.app{
  background-image: url('../src/assets/background.jpg');
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.background {
  backdrop-filter: blur(16px);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  height: 80%;
  margin: 10vh 10vw;
  overflow: hidden;
  background-image: url('../src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  position: absolute;
  padding: 20px;
}

@media (max-width: 1204px) {
  .container{
    justify-content: center;
  }
}

.citiesContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.alert{
  color:rgba(120,120,120,0.55);
}