.SearchBar {
    margin-bottom: 8px;
}

.SearchBar input[type="text"] {
    border: 1px solid #ddd;
    background-color: rgba(120,120,120,0.55);
    color: #ddd;
    margin-right: 10px;
    border-radius: 8px;
    width: 300px;
    
}

.SearchBar input[type="text"]::placeholder {
    color: #ddd;
}

.SearchBar input[type="text"]:focus {
    outline: none;
}

.SearchBar input[type="submit"] {
    border: none;
    background: none;
    font-size: 24px;
    color: rgba(120,120,120,0.55);
    outline: none;
    transition: color 0.25s;
}

.SearchBar input[type="submit"]:hover {
    color: #ddd;
}